<div class="mt-4 mb-4">
    <h3>ĐĂNG KHÓA HỌC</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3 form-group">
            <label for="name" class="form-label">Tên Khóa Học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3 form-group">
            <label for="description" class="form-label">Mô Tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3 form-group">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">THÊM KHÓA HỌC</button>
</form>
</div>