<section id ="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light ">
      <a shref="#"><img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYTdncpTgBe8QFqXX7DeNr87SNEr-P502wuA&usqp=CAU"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">  
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">TRANG CHỦ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/courses/create">TẠO MỚI</a>
          </li>

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PROJECT
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">TPONE PROJECT</a></li>
              <li><a class="dropdown-item" href="#">ANOTHER PROJECT</a></li>
              <li><a class="dropdown-item" href="#">ALBUM PROJECT</a></li>
            </ul>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="/news">TIN TỨC</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/search">TÌM KIẾM</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#team">CHÚNG TÔI</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#price">BẢNG GIÁ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#testimonials">CHỨNG THỰC</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#contact">LIÊN HỆ</a>
          </li> 

        </ul>
      </div>
  </nav>
</section>