<div class="mt-4">
<form method="POST" action="">
  <div class="mb-3 form-group">
    <label for="search-input" class="form-label">Từ Khóa</label>
    <input type="text" name="fullname" class="form-control" placeholder="Nhập từ khóa ...">
  </div>
  <div class="mb-3 form-group">
    <label for="gender-input">Từ Khóa</label>
    <select name="gender" id="gender-input" class="form-control">
      <option value="">--Chọn giới tính--</option>
      <option value="male">NAM</option>
      <option value="demale">NỮ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>

</div>