<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="app">
    {{>header}}
    <div class="container">
        {{{body}}}
    </div>
    {{>footer}}
</div>
</body>
</html>